syntax: glob
*.pyc
*.pyo
*.DS_Store 
*.installed.cfg
*build/
local_settings.py
*dist/
*.egg-info/
*~
.idea/
__pycache__/
/__pycache__/
*/__pycache__/

# env data
venv*
venv/
.env.local
.env.*.local

# media
media*

# static
static*

# logs
*.log

# celery, celery beat
celerybeat-schedule*
celeryd.pid

# whoosh index
*.toc
*.seg

# local configurations and overrides
*docker-compose-dev.yml
*local.Dockerfile
*local.Makefile
*local-linter.sh
*dev.conf
requirements/requirements.local.*

# FIXME: files from `post_gen_project` hook
