# Python
pillow==8.4.0
requests==2.26.0
shortuuid==1.0.1
python-slugify==5.0.2
pydantic==1.8.2
fakeredis==1.6.1
ipython==7.28.0

# Django
django==3.2.7
django-extensions==3.1.3
django-model-utils==4.1.1
django-debug-toolbar==3.2.2
sorl-thumbnail==12.7.0
django-redis==5.0.0
django-tinymce==3.3.0
django-celery-beat==2.2.1
django-cleanup==5.2.0
django-redis-sessions==0.6.2
django-storages==1.12.3
boto3==1.19.7

# DRF
django-rest-auth==0.9.5
django-cors-headers==3.10.0
drf-spectacular==0.21.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
django-filter==2.4.0
pydantic==1.8.2

# Databases
psycopg2-binary==2.9.1
redis==3.5.3

# Tools
celery==5.2.1
flower==1.0.0
gunicorn==20.1.0
Werkzeug==2.0.2
{% if cookiecutter.use_sentry == 'y' -%}sentry-sdk==1.5.0{%- endif %}

# Code style
{% if cookiecutter.use_black == 'y' -%}black==21.11b1{%- endif %}
pre-commit==2.15.0
editorconfig-checker==2.3.54
flake8==3.9.2
isort==5.10.1
pep8-naming==0.12.1
flake8-commas==2.0.0
flake8-django==1.1.2
flake8-docstrings==1.6.0
flake8-multiline-containers==0.0.18
flake8-polyfill==1.0.2
flake8-quotes==3.3.0
